.hamburger {
    width: 30px;
    cursor: pointer;
    margin: 20px;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 5px;
    background-color: black;
    margin: 5px 0px;
}

/* --menue */
.menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.menu a {

    padding: 10px;
    text-decoration: none;
    color: black;
}


.menu.active {
    display: flex;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 30px;
    background: black;
    margin: 5px 0;
    transition: 0.3s;
}

/* Cross animation */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px,5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px,-7px) ;
}