.ol{
    /* border:2px blue dashed; */
}
.body{
    display:flex;
    width:100%;
    height:500px;
    justify-content: center;
    align-items:center;
    background-color: black;
}
.container{

    width:600px;
    height:300px;
    background-color: rgba(212, 255, 200, 0.944);
    font-size: 0px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 30px 3px hsla(113, 93%, 59%, 0.603);
}

.child{
    display:inline-block;
    width:250px;
    height:280px;
    vertical-align: top;
    padding:5px;
}
#c1{
    font-size: 14px;
}
#c2{

}
img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
#info{
    text-align: justify;
}
#heading{

}