* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px green dashed; */
}

body {
    background-color: white;
}

nav {
    height: 6vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0.008);
    padding:0px 10px;
}

.logo{
    height:80%;

}
.logo>img{
    width:100%;
    height:100%;
    object-fit: contain;
}
ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    flex-grow:1;
    justify-content: center;
}

ul li a {
/* 
    background-color: red; */
    text-decoration: none;
    color: black;
    font-size: x-large;
    display: block;
    padding: 10px 15px;
    font-weight: 400;
}

ul li a:hover {

    font-weight: 400;
    color: rgb(135, 139, 143);
}

.loginholder{
    display:flex;
    gap:5px;
    align-items: center;
}
.loginholder>a{
    color:rgb(90, 87, 87);
    text-decoration: none;
    font-size:20px;
}
#buynow{
    border-radius:15px;
    background-color:black;
    color:white;
    font-size: 15px;
    padding: 5px 8px;

}
.wrapper
{
    margin-top:7vh;
   width:100vw;
   display:flex;
   justify-content: center;
   align-content: center; 
   /* border:1px yellow dashed; */
   height:60vh;
   align-items: center;
}
.infoholder{

    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    /* border:1px red dashed; */
    width:40%;

}
.bigtext{
    font-size: 32px;
    font-weight: 500;
}
#carname{
    color:rgb(93, 90, 90);
}

.infobox{
    display:flex;
    flex-direction: column;
    width: 70%;
}
.title{
    font-size:x-large;
    font-weight: 600;

}
.information{
    font-size: large;
    color: grey;
}
.carimage>img:hover
{
    transform: scale(1.1);
    transition: ease-in 0.5s;
    z-index: 1;
    position:relative;
    top:0px;
    left:0px;
}