*{
    margin: 0px;
    padding: 0px;
}

.navcontainer{

    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    width: 13vw;
    background-image:linear-gradient(to right,#fdfbbe,#bbf0d2) ;
}
.nav{
    width:100%;
    display: flex;
}
ul{
    width:98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: red dashed 1px; */
}

li{
    
}
li,a{
    list-style:none;
    font-size: 16px;
    display:block;
    /* border: 2px dashed; */
    color:rgb(93, 89, 89);
    box-sizing: border-box;
    width:100%;
    text-align: left;
}
a{
    padding:10px 5px;
    text-decoration: none;

}
i{
    font-size: 14px;
}
li:hover,a:hover{
    color:white;
    background-image:linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    transform: translateX(2px);
    transition: ease-in-out cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    box-shadow: 1px 0px 0.5px 1px hsl(205, 41%, 84%);

}
