*{
    padding:0px;
    margin:0px;


}
:root{
    --primary:#242e40;
    --accent:#ebf0f5;
}
@font-face {
    font-family: "ameyaember";
    src: url('amazonember.ttf');
}


.container {
    height: 6.8vh;
    width: 100vw;
    position: fixed;
    padding:5px;
    top: 0px;
    left: 0px;
    background-color:var(--primary);
    font-family: 'ameyaember';
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}
.nav
{
    /* border: dashed red 2px; */
    align-self: center;
    display:flex;
    width:auto;
    align-items: center;
margin-right:auto;
    
    
}
ul{
    /* border: 2px dashed yellow; */
    display: flex;
    /* box-sizing: border-box; */
}
li{

}
 a ,li {
    list-style: none;
    text-decoration: none;
    color: var(--accent);
    display: inline-block;
    /* border: dashed 2px green; */
    font-size: 16px;

}
a{
        padding:5px 10px;

}
a:hover
{
    border: 1px solid var(--accent);
    transform: scale(0.9);

}
.brandlogo{
    height:100%;
    /* border:2px dashed red; */
    align-self: center;
}
#brandlogoimg{
    height: 100%;
    width:100%;
    object-fit: cover;
}