.container{
    height: 50vh;
    width:auto;
    background-color: antiquewhite;
}
.child{
    background-color: red;
    height:300px;
    width: 300px;
    display: inline-block;
}
#ch1{
    padding:50px;
}
#ch2{
    padding:50px;
    box-sizing: border-box;
    text-transform: uppercase;
}
button>img{
    height:10px;
    width:10px;
}
#secondbutton{
    width:50px;
    height:50px;
    
}

i{
    font-size: xxx-large;
    color:brown;
}