.container{

    position: relative;
    height: 100vh;
    width:100vw;

}
*{
    margin:0px;
}
video{
    height: 100%;
    width:100%;
    object-fit: cover;
}
#c1{
    position: fixed;
    top:0px;
    left:0px;
    z-index: -1;
}
#c2{
    top:0px;
    left:0px;
}
.paper{
    height: 200px;
    width:200px;
    position: relative;
}
#p1
{
    background-color: brown;
    
}
#p2
{
    background-color: rgba(153, 205, 50, 0.782);
    bottom:150px;
    right:0px;
    left:100px;
    z-index:2;
}
#p3
{
    background-color:orange;
    z-index: 1;
    bottom:250px;

}
