*{
    margin:0px;
    padding:0px;
}
.main{
    display:grid;
    grid-template-columns: 25% 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25% 25%;
    height: 100vh;
    width:100vw;
    background-color: green;
}
.child img{
    height:100%;
    width:100%;
    object-fit: cover;
}
#c1{
 
    background-color: antiquewhite;
}

#c2{

    
    background-color: rgb(238, 141, 15);
}