body {
    background-size: cover;
    background-repeat: repeat-y;
    color:white;
}

.container {
    width: 400px;
    height: 300px;
    background-image: url('../background\ image\ text\ properties\ linere\ gradient/two.jpg');
    background-size: cover;
}

#glass {
    background-image: linear-gradient(120deg, hsla(180, 5%, 4%, 0.489), hsla(160, 7%, 83%, 0.404),hsla(180, 4%, 18%, 0.419), hsla(165, 5%, 68%, 0.404));
    width: 400px;
    border-radius: 30px;
    color: white;


}
.container>a{
        text-decoration: none;

}
.container>ul>li{
    list-style: none;
    display: inline-block;
}

.container>p{
    text-decoration: none;
    text-align: center;
}
