
*{
    margin:0px;
    border:0px;
}
/* .ol{
    border:5px dashed red;
} */
.maincontener
{
    height: 3000px;
    width:100vw;
    display: flex;
    background-color: #edeef1;
    justify-content:center;
    align-items: center;
    align-content: space-around;
}
.prodcard{
    background-color: rgb(244, 239, 239);
    padding:20px;
    width:60%;
    margin:10px;
    height:30%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;

}
.child{
    display: inline-block;
}
.imageholder{
    width:20%;
    height:150px;

}
img{
    width:100%;
    height:100%;
    object-fit: contain;
}
#prodtitle{
    font-size:20px;
}
ul{
    margin-top:20px;
}

#price{

}
#sprice{
    text-decoration:line-through;
    display: inline;
    margin-left:20px;
}
#dcode{
    font-size: ;

    display: inline;
    margin-left:10px;
    color:rgb(125, 186, 34)
}