body{
    background-image: url('two.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}
@font-face {
    font-family: "Ameya";
    src: url("fonts/Atelier\ du\ Soleil.ttf");
}
.container {
    width: 100%;
    height: 300px;
    color:white;
    text-align: justify;
}

#c1 {


    background-color: black;
    margin: 0px 0px 0px 0px;
    background-image: url("gtavicecity.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#c1>p{


}
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gravitas+One&display=swap'); */
#c2{

    background-image: url('n2.jpg');
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

#lgr
{
    font-family:'Dancing Script','Gravitas One';
    background-image: linear-gradient(60deg,hsl(144,80%,60%),hsl(174,80%,80%),hsl(53, 71%, 51%));
}
#rgr{
    background-image:radial-gradient( ellipse, #7f69e2, #ccff7a);
}
#glass{
    background-image: radial-gradient(ellipse, hsla(156, 8%, 12%, 0.289),hsla(160, 7%, 83%, 0.204));
    width: 400px;
    font-family: 'Ameya','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}