*{
    margin: 0px;
    padding:0px;
}
@font-face {
    font-family: "Ameya";
    src: url('fonts/Atelier\ du\ Soleil.ttf');
}
.nav
{
    width:100%;
    height:80px;
    color:white;
    font-family: 'Ameya','serif';
    background-image: radial-gradient(ellipse,hsl(260, 4%, 30%),hsl(240, 4%, 18%));
}
.searchbox{
    display: inline-block;
    text-align: right;
}
.brandlogo{
    display: inline-block;
    text-align: center;
    
}
#big{
    font-size: 40px;
}
#small{
    font-size: 15px;
}